@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.section{
  padding-top: 30px;
}

.container{
  padding: 0 30px;
}

.form_box{
  margin-bottom: 11px;
  display: flex;
}

.form_label{
  font-size: 16px;
  font-weight: 500;
  line-height: 16.38px;
  color: black;
  width: 300px;
}

.input:focus{
  border-color: #bdbdbd;
}

.input{
  padding: 7px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20.8px;
  border: 1px solid #B5A380;
  width: 100%;
}

.input:focus{
  outline: none;
}

.textarea{
  padding: 7px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20.8px;
  border: 1px solid #B5A380;
  width: 100%;
  height: 200px;
  resize: none;
}

.textarea:focus{
  outline: none;
}

.form__button{
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  background-color: #B5A380;
  color: white;
  padding: 7px;
  width: 150px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__link{
  color: #B5A380;
  width: 35px;
  height: 35px;
  margin-right: 120px;
}

.form{
  margin-top: 50px;
}

.section{
  padding: 30px 0;

}

.container{
  padding: 0 30px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}

.title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

table, th, td{
  border-bottom: 1px solid #787878;
}

th{
  color:black;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 5px;
  background-color: #F3F1F0;
}

td{
  padding: 10px;
}

.edit_delete__buttons{
  width: 20px;
  height: 20px;
  color:#746852;
}

.add_to{
  background-color: #B5A380;
  color: white;
  padding: 9px;
  width: 150px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.link_edit{
  text-decoration: none;
}

.form-select{
  margin: 50px 0;
}

.form-select h3{
  margin-bottom: 20px;
}

.form-select button{
  background-color: #746852;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 15px;
  margin-left: 15px;
}

.form-select select{
  width: 300px;
  padding: 7px 10px;
  font-size: 15px;
}

.recommedation_section{
  margin-top: 30px;
}

.link_detail{
  color: #746852;
}

.select{
  padding: 5px;
  font-size: 15px;
}

.file-uploader__preview{
  width: 200px;
  height: 200px;
  border: 1px dashed gray;
  border-radius: 12px;
  margin-left: 70px;
  object-fit: fill;
}

.file-uploader__upload-button{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-uploader__custom-button{
  cursor: pointer;
  border: 1px solid #787878;
  background-color: #E0DEDD;
  color: black;
  border-radius: 10px;
  padding: 8px;
  height: 34px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.38px;
}

.table_image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.p-dialog{
  padding: 15px 20px;
  background-color: white;
}

.p-dialog-footer{
  margin-top: 15px;
}

.p-button{
  padding: 5px;
}

.p-confirm-dialog-message{
  margin-top: 10px;
  margin-bottom: 10px;
}

